@import "tailwindcss";

@theme {
  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-exo: "Exo", sans-serif;

  /* colors */
  --color-primary: #223a66; /*kind of blue*/
  --color-secondary: #f12454 /*kind of red*/;
  --color-neutral: #000000; /*black */
  --color-accent: #00D3C7;
}

@layer components{
  /* typography */
  p,a{
    @apply font-exo;
  }

  h1,h2,h3,h4,h5,h6{
    @apply font-roboto;
  }
}

@import "./client/client.css";
@import "./dashboard/dashboard.css";